/* stylelint-disable no-duplicate-selectors */

/* || General */

:root {
  --button-bg-dark: #222;
  --button-bg-dark-hover: #333;
  --button-bg-dark-active: #000;
  --button-bg-stop: #dd2d4a;
  --button-bg-stop-hover: #c1253f;
  --button-bg-stop-active: #aa1d35;
  --light: #f6f6f6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: 62.5%/1.5 Helvetica, Arial, sans-serif;
}

body {
  font-size: 18px;
}

/* || Layout */

body {
  position: relative;
}

.user-input,
.clock,
label {
  display: flex;
}

.user-input {
  justify-content: space-around;
}

.clock {
  justify-content: center;
}

label {
  align-items: center;
  gap: 0.5rem;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* || Box model */

body {
  block-size: 100vh;
}

.user-input {
  max-inline-size: 300px;
  margin: 0 auto;
  padding: 2em;
}

label,
.buttons {
  text-align: center;
}

label {
  margin-inline-end: 1em;
}

input {
  padding: 0.5em 1.6rem;
}

button {
  padding: 0.5em 1em;
  margin-block-start: 1em;
  margin-inline-end: 0.5em;
}

/* || Typography */

button {
  font-size: inherit;
}

.clock {
  font-family: "Space Mono", monospace;
  font-size: 4.8rem;
}

/* || Colour and graphics */

body {
  background-color: var(--light);
  color: var(--button-bg-dark);
}

button {
  border: 0;
  border-radius: 0.5rem;
}

button:enabled {
  cursor: pointer;
}

button:enabled:active {
  transform: scale(0.99);
}

.start-btn:enabled {
  background-color: var(--button-bg-dark);
  color: var(--light);
}

.start-btn:enabled:hover {
  background-color: var(--button-bg-dark-hover);
}

.start-btn:enabled:active {
  background-color: var(--button-bg-dark-active);
}

.clear-btn {
  background-color: transparent;
  color: var(--button-bg-dark);
  text-decoration: underline;
}

.clear-btn:hover {
  text-decoration: none;
}

.clear-btn:active {
  color: var(--button-bg-dark-active);
}

.stop-btn {
  background-color: var(--button-bg-stop);
  color: var(--light);
}

.stop-btn:hover {
  background-color: var(--button-bg-stop-hover);
}

.stop-btn:active {
  background-color: var(--button-bg-stop-active);
}

.hours::after,
.minutes::after {
  content: ":";
}
